<h2 class="page-header">Recently added services</h2>
<div>
    <% services.forEach(service => { %>
        <div>
            <%= service.serviceCar.licensePlate %>
            <%= '-' %>
            <%= service.serviceCar.carOwner %>
            <%= '-' %>
            <%= service.serviceCar.carMake %>
            <%= '-' %>
            <%= service.serviceCar.carType %>
            <%= '-' %>
            <%= service.serviceDate.toISOString().split('T')[0] %>
            <%= '-' %>
            <%= service.serviceOdometer %>
            <%= 'Km' %>
        </div>
    <div class="btn-row">  
        <a class="btn btn-primary" href="/services/<%= service.id %>">View</a>
        <a class="btn btn-primary" href="/services/<%= service.id %>/edit">Edit</a>
    </div>
    <% }) %>
