<div class="form-row">
    <div class="form-item">
        <label>Service Date</label>
        <input type="date" name="serviceDate"
        value='<%= service.serviceDate == null ? '':
        service.serviceDate.toISOString().split('T')[0] %>'>
    </div>
    <div class="form-item">
        <label>License Plate</label>
        <select name='serviceCar'>
        <% cars.forEach(car => { %>
        <% if (car.id === String(service.serviceCar)) { %>
        <option selected label="<%= car.licensePlate %>" value="<%= car.id %>">
        <% } else { %>
        <option label="<%= car.licensePlate %>" value="<%= car.id %>">
        <% } %>  
        <% }) %>
        </select>
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Odometer</label>
        <input type="number" name="serviceOdometer" min="1" value='<%= service.serviceOdometer %>'>
    </div>
    <div class="form-item">
        <label>Description</label>
        <textarea name="serviceDescription"><%= service.serviceDescription %></textarea>
    </div>
</div>
