<h2>Search Services</h2>
<form action="/services" method="GET">
    <div>
        <label>Serviced After</label>
        <input type="date" name="serviceAfter" value="<%= searchOptions.serviceAfter %>">
    </div>
    <div>
        <label>Serviced Before</label>
        <input type="date" name="serviceBefore" value="<%= searchOptions.serviceBefore %>">
    </div>
    <button type="submit">Search</button>
</form>

<div>
    <% services.forEach(service => { %>
    <div>
        <%= service.serviceCar.licensePlate %>
        <%= '-' %>
        <%= service.serviceCar.carOwner %>
        <%= '-' %>
        <%= service.serviceCar.carMake %>
        <%= '-' %>
        <%= service.serviceCar.carType %>
        <%= '-' %>
        <%= service.serviceDate.toISOString().split('T')[0] %>
        <%= '-' %>
        <%= service.serviceOdometer %>
        <%= 'Km' %>
    </div> 
    <a href="/services/<%= service.id %>">View</a>
    <a href="/services/<%= service.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', 
            { url: `/services/${service.id}` }) %>
<% }) %>
</div>