<h2><%= service.serviceDate.toISOString().split('T')[0] %></h2>
<h3>Car details:</h3>
<div>License plate: <%= service.serviceCar.licensePlate %></div>
<div>Owner: <%= service.serviceCar.carOwner %></div>
<div>Make: <%= service.serviceCar.carMake %></div>
<div>Type: <%= service.serviceCar.carType %></div>
<div>Make year: <%= service.serviceCar.carYear %></div>
<div>Fuel type: <%= service.serviceCar.carFuel %></div>
<div>Outstanding issues: <%= service.serviceCar.carIssues %></div>
<h3>Service details:</h3>
<div>Odometer: <%= service.serviceOdometer %></div>
<div>Description: <%= service.serviceDescription %></div>
<a href="/services/<%= service.id %>/edit">Edit</a>
<%- include('../partials/deleteForm',
    { url: `/services/${service.id}`  }) %>
<a href="/cars/<%= service.serviceCar.id %>">View Car</a>

