<div class="form-row">
    <div class="form-item">
        <label>License plate number</label>
        <input type="text" name="licensePlate" value='<%= car.licensePlate %>'>
    </div>
    <div class="form-item">
        <label>Car Owner</label>
        <input type="text" name="carOwner" value='<%= car.carOwner %>'>
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>VIN</label>
        <input type="text" name="carVin" value='<%= car.carVin %>'>
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Car Make</label>
        <input type="text" name="carMake" value='<%= car.carMake %>'>
    </div>
    <div class="form-item">
        <label>Car Type</label>
        <input type="text" name="carType" value='<%= car.carType %>'>
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Car Engine (Kilowatts)</label>
        <input type="text" name="carEngineKw" value='<%= car.carEngineKw %>'>
    </div>
    <div class="form-item">
        <label>Car Engine (CC)</label>
        <input type="text" name="carEngineCc" value='<%= car.carEngineCc %>'>
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Fuel Type</label>
        <select name="carFuel">
            <option label="Petrol" value="<%= car.carFuel %>"></option>
            <option label="Diesel" value="<%= car.carFuel %>"></option>
            <option label="Hybrid" value="<%= car.carFuel %>"></option>
            <option label="Electric" value="<%= car.carFuel %>"></option>
            <option label="LPG" value="<%= car.carFuel %>"></option>
        </select>
    </div>
    <div class="form-item">
        <label>Make Year</label>
        <input type="text" name="carYear" value='<%= car.carYear %>'>
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Outstanding issues</label>
        <textarea name="carIssues"><%= car.carIssues %></textarea>
    </div>
</div>
    <div class="form-row">
        <div class="form-item">
        <label>Picture</label>
        <input type="file" name="carImage" class="filepond">
    </div>
</div>