<div>
    <label>License plate number</label>
    <input type="text" name="licensePlate" value='<%= car.licensePlate %>'>
</div>
<div>
    <label>Car Owner</label>
    <input type="text" name="carOwner" value='<%= car.carOwner %>'>
</div>
<div>
    <label>Car Make</label>
    <input type="text" name="carMake" value='<%= car.carMake %>'>
</div>
<div>
    <label>Car Type</label>
    <input type="text" name="carType" value='<%= car.carType %>'>
</div>
<div>
    <label>Fuel Type</label>
    <input type="text" name="carFuel" value='<%= car.carFuel %>'>
</div>
<div>
    <label>Make Year</label>
    <input type="text" name="carYear" value='<%= car.carYear %>'>
</div>
<div>
    <label>Picture</label>
    <input type="file" name="carPicture" class="filepond">
</div>