<h2 class="page-header">Search Cars</h2>
<form action="/cars" method="GET">
<div class="form-row">
    <div class="form-item">
    <label>License plate</label>
    <input type="text" name="licensePlate" value="<%= searchOptions.licensePlate %>">
    </div>
</div>
<div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
</div>
</form>
<br>
<% cars.forEach(car => { %>
<div>
    <%= car.licensePlate %>
    <%= '-' %>
    <%= car.carOwner %>
    <%= '-' %>
    <%= car.carMake %>
    <%= '-' %>
    <%= car.carType %>
</div>
<div class="btn-row">
    <a class="btn btn-primary" href="/cars/<%= car.id %>">View</a>
    <a class="btn btn-primary" href="/cars/<%= car.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', 
                { url: `/cars/${car.id}` }) %>
</div>
<% }) %>