<h2>Search Cars</h2>
<form action="/cars" method="GET">
    <label>License plate</label>
    <input type="text" name="licensePlate" value="<%= searchOptions.licensePlate %>">
    <button type="submit">Search</button>
</form>
<br>
<% cars.forEach(car => { %>
<div>
    <%= car.licensePlate %>
    <%= '-' %>
    <%= car.carOwner %>
    <%= '-' %>
    <%= car.carMake %>
    <%= '-' %>
    <%= car.carType %>
</div>
<a href="/cars/<%= car.id %>">View</a>
<a href="/cars/<%= car.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', 
            { url: `/cars/${car.id}` }) %>
<% }) %>