<h2 class="page-header"><%= car.licensePlate %></h2>
<img width="150" heigh="100" src="<%= car.carImagePath %>">
<div>Car owner: <%= car.carOwner %></div>
<div>Car make: <%= car.carMake %></div>
<div>Car type: <%= car.carType %></div>
<div>Make year: <%= car.carYear %></div>
<div>Fuel: <%= car.carFuel %></div>
<div>Outstanding issues: <%= car.carIssues %></div>
<div class="btn-row">
    <a class="btn btn-primary" href="/cars/<%= car.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm',
        { url: `/cars/${car.id}`  }) %>
</div>
<% if (servicesByCar.length > 0) { %>
 <h2 class="page-header">Services by Car</h2>
 <% servicesByCar.forEach(service => { %>
    <div>
        <h3>
        <%= car.licensePlate %>
        <%= '-' %>
        <%= service.serviceDate.toISOString().split('T')[0] %>
        <%= '-' %>
        <%= service.serviceOdometer %>
        <%= 'Km' %>
        </h3>
    </div>
    <div class="btn-row"> 
        <a class="btn btn-primary" href="/services/<%= service.id %>">View</a>
        <a class="btn btn-primary" href="/services/<%= service.id %>/edit">Edit</a>
        <%- include('../partials/deleteForm', 
                { url: `/services/${service.id}` }) %>
        </div> 
    <% }) %>
<% } %>
<br>
